{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}






{% block body %}
<header>
</header>
<main>
</main>
<footer>
</footer>
<!-- Formulaire de recherche -->
<form method="get" id="search-form">
    <input type="text" name="searchTerm" id="searchTerm" placeholder="Entrez votre recherche...">
    <select name="language" id="language">
        <option value="fr">Français</option>
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="de">Deutsch</option>
    </select>
    <button type="submit">Rechercher</button>
</form>
<script>
// vérifie qu'on a bien chargé toute la page
document.addEventListener("DOMContentLoaded", (e) => {
    
    // cherche le bouton dans le html
    let button = document.querySelector('#search-form button');

    // détecte le click sur le bouton
    button.addEventListener('click',  (e) => { 

        // supprime le comportement normal du formulaire
        e.preventDefault();

        // RÉCUPÈRE les données saisies par l'utilisateur
        const searchTerm = document.getElementById('searchTerm').value;
        const language = document.getElementById('language').value;
        
       
        // redirection vers la page demandée
       window.location.replace(`/article/${searchTerm}/${language}`);
       /*https://'+ language +'.wikipedia.org/w/api.php?action=query&titles=' + searchTerm + 
        '&prop=extracts|images|links*/
       
    });
});
</script>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Applications/MAMP/htdocs/public/wikiprojet/src/Controller/ArticleController.php'|file_link(0) }}">src/Controller/ArticleController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Applications/MAMP/htdocs/public/wikiprojet/templates/article/index.html.twig'|file_link(0) }}">templates/article/index.html.twig</a></code></li>
    </ul>
</div>

{# charge le contenu de l'article récupéré via l'api#}
<section>
    <article>
         <h1 id="title"> {{ title }}  </h1> 
        <div id="content">{{ extract|raw }} </div>
        <ul>
            {% for image in images %}
                <li>
                    <img src="{{image['url']}}" alt="">
                    <p>{{image['title']}}</p>
                </li>
            {% endfor %}
        </ul>
        <ul>
            {% for link in links %}
                <li>
                    <a href="{{link['url']}}">{{link['label']}}</a>
                </li>
                {% endfor %}
        </ul> 
         

    </article>

    <aside>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </aside>
</section>


{% endblock %}
