{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController   !
{% endblock %}
{% block stylesheets %}

{% endblock %}


{% block body %}
 {# charge le contenu de l'article récupéré via l'api #}
  
        <div class="cutpage">
	        <div class="widthpage">
		        <article class="pagearticle">
			        <h1 id="title">
				        {{ title }}
			        </h1>
                    <div id="content">
                        {{ extract|raw }}
                    </div>
                    <ul>
                        {% for image in images %}
                            <li>
                                <div>
                                    <img  src="{{image['url']}}" alt="" height="200px">
                                </div>
                                <p>{{image['title']}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul>
                        {% for link in links %}
                            <li>
                                <a href="{{link['url']}}">{{link['label']}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </article>
            </div>


	
            {# page de l'éditeur de texte #}
            <div class="widthpage">
	            <article class="pagewikiditor">
    
                    <!--header de la page wikiditor editeur de texte-->
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <button type="button" class="btn-close" aria-label="Close"></button>
                            <div class="navbar-nav">
                                <a href="#"><img src="../../images/logowiki.png" alt="logowiki"></a>
                            </div>
                            <div class="navbar-nav">
                                <a href="#"><img src="../../images/profil.png" alt="profils"></a>
                                <a href="#"><img src="../../images/sizing.png" alt="sizing"></a>
                            </div>
                        </div>
                    </nav>

                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"></a>

                            <div class="navbar-nav">
                                <button class="btn btn-primary">
                                    <svg width="24" height="24" viewbox="0 0 16 21" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0.707031C1.46957 0.707031 0.960859 0.917745 0.585786 1.29282C0.210714 1.66789 0 2.1766 0 2.70703V18.707C0 19.2375 0.210714 19.7462 0.585786 20.1212C0.960859 20.4963 1.46957 20.707 2 20.707H14C14.5304 20.707 15.0391 20.4963 15.4142 20.1212C15.7893 19.7462 16 19.2375 16 18.707V5.12103C15.9999 4.59064 15.7891 4.08202 15.414 3.70703L13 1.29303C12.625 0.917932 12.1164 0.707145 11.586 0.707031H2ZM2 2.70703H11.586L14 5.12103V18.707H2V2.70703ZM12.238 9.50003C12.3335 9.40778 12.4097 9.29744 12.4621 9.17544C12.5145 9.05343 12.5421 8.92221 12.5433 8.78943C12.5444 8.65665 12.5191 8.52497 12.4688 8.40208C12.4185 8.27918 12.3443 8.16753 12.2504 8.07364C12.1565 7.97974 12.0449 7.90549 11.922 7.85521C11.7991 7.80493 11.6674 7.77963 11.5346 7.78078C11.4018 7.78193 11.2706 7.80952 11.1486 7.86193C11.0266 7.91434 10.9162 7.99052 10.824 8.08603L6.582 12.328L5.167 10.914C4.9784 10.7319 4.7258 10.6311 4.4636 10.6334C4.2014 10.6356 3.95059 10.7408 3.76518 10.9262C3.57977 11.1116 3.4746 11.3624 3.47233 11.6246C3.47005 11.8868 3.57084 12.1394 3.753 12.328L5.803 14.379C5.90515 14.4812 6.02644 14.5623 6.15993 14.6176C6.29342 14.6729 6.4365 14.7014 6.581 14.7014C6.7255 14.7014 6.86858 14.6729 7.00207 14.6176C7.13556 14.5623 7.25685 14.4812 7.359 14.379L12.238 9.50003Z" fill="white"/>
                                    </svg>
                                    <span class="button-title">Projet Sekhmet</span>
                                </button>

                                <svg class="add-circle" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="blue" class="bi bi-plus" viewbox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>

                                <div class="container">
                                    <span class="custom-text">Dernière sauvegarde 13:21</span>
                                    <svg width="32" height="32" viewbox="0 0 16 21" fill="black" xmlns="http://www.w3.org/2000/svg" class="align-middle">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0.707031C1.46957 0.707031 0.960859 0.917745 0.585786 1.29282C0.210714 1.66789 0 2.1766 0 2.70703V18.707C0 19.2375 0.210714 19.7462 0.585786 20.1212C0.960859 20.4963 1.46957 20.707 2 20.707H14C14.5304 20.707 15.0391 20.4963 15.4142 20.1212C15.7893 19.7462 16 19.2375 16 18.707V5.12103C15.9999 4.59064 15.7891 4.08202 15.414 3.70703L13 1.29303C12.625 0.917932 12.1164 0.707145 11.586 0.707031H2ZM2 2.70703H11.586L14 5.12103V18.707H2V2.70703ZM12.238 9.50003C12.3335 9.40778 12.4097 9.29744 12.4621 9.17544C12.5145 9.05343 12.5421 8.92221 12.5433 8.78943C12.5444 8.65665 12.5191 8.52497 12.4688 8.40208C12.4185 8.27918 12.3443 8.16753 12.2504 8.07364C12.1565 7.97974 12.0449 7.90549 11.922 7.85521C11.7991 7.80493 11.6674 7.77963 11.5346 7.78078C11.4018 7.78193 11.2706 7.80952 11.1486 7.86193C11.0266 7.91434 10.9162 7.99052 10.824 8.08603L6.582 12.328L5.167 10.914C4.9784 10.7319 4.7258 10.6311 4.4636 10.6334C4.2014 10.6356 3.95059 10.7408 3.76518 10.9262C3.57977 11.1116 3.4746 11.3624 3.47233 11.6246C3.47005 11.8868 3.57084 12.1394 3.753 12.328L5.803 14.379C5.90515 14.4812 6.02644 14.5623 6.15993 14.6176C6.29342 14.6729 6.4365 14.7014 6.581 14.7014C6.7255 14.7014 6.86858 14.6729 7.00207 14.6176C7.13556 14.5623 7.25685 14.4812 7.359 14.379L12.238 9.50003Z" fill="#E3E7E9" fill="#E3E7E9"/>
                                    </svg>
                                </div>

                                <div class="navbar-nav">

                                    <svg width="19" height="21" viewbox="0 0 19 21" fill="white" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8333 19.1686C14.9589 19.1686 14.25 18.4798 14.25 17.6301C14.25 17.3648 14.3191 17.1152 14.4408 16.8974C14.4451 16.8903 14.4494 16.8832 14.4536 16.876C14.4576 16.869 14.4615 16.8621 14.4653 16.8551C14.7399 16.3984 15.2498 16.0916 15.8333 16.0916C16.7078 16.0916 17.4167 16.7804 17.4167 17.6301C17.4167 18.4798 16.7078 19.1686 15.8333 19.1686ZM13.5491 15.4991C14.1254 14.9161 14.9357 14.5532 15.8333 14.5532C17.5822 14.5532 19 15.9308 19 17.6301C19 19.3294 17.5822 20.707 15.8333 20.707C14.0844 20.707 12.6667 19.3294 12.6667 17.6301C12.6667 17.3568 12.7033 17.0918 12.7722 16.8395L5.45088 12.8381C4.87463 13.4211 4.06426 13.784 3.16667 13.784C1.41776 13.784 0 12.4064 0 10.707C0 9.00769 1.41776 7.63011 3.16667 7.63011C4.06426 7.63011 4.87463 7.99298 5.45088 8.57597L12.7722 4.57451C12.7033 4.32224 12.6667 4.05726 12.6667 3.78395C12.6667 2.08462 14.0844 0.707031 15.8333 0.707031C17.5822 0.707031 19 2.08462 19 3.78395C19 5.48329 17.5822 6.86088 15.8333 6.86088C14.9357 6.86088 14.1254 6.49801 13.5491 5.91501L6.22784 9.91647C6.29666 10.1687 6.33333 10.4337 6.33333 10.707C6.33333 10.9803 6.29666 11.2453 6.22784 11.4976L13.5491 15.4991ZM4.5347 11.4821C4.53847 11.4751 4.54237 11.4681 4.54638 11.4612C4.55056 11.4539 4.55485 11.4468 4.55923 11.4398C4.6809 11.2219 4.75 10.9723 4.75 10.707C4.75 10.4417 4.6809 10.1921 4.55923 9.9743C4.55485 9.96726 4.55056 9.96012 4.54638 9.9529C4.54237 9.94596 4.53847 9.93899 4.5347 9.93199C4.26009 9.47535 3.75025 9.16857 3.16667 9.16857C2.29222 9.16857 1.58333 9.85736 1.58333 10.707C1.58333 11.5567 2.29222 12.2455 3.16667 12.2455C3.75025 12.2455 4.26009 11.9387 4.5347 11.4821ZM14.4408 4.51666C14.4451 4.52371 14.4494 4.53085 14.4536 4.53808C14.4576 4.54503 14.4615 4.55201 14.4653 4.55902C14.7399 5.01565 15.2498 5.32242 15.8333 5.32242C16.7078 5.32242 17.4167 4.63362 17.4167 3.78395C17.4167 2.93429 16.7078 2.24549 15.8333 2.24549C14.9589 2.24549 14.25 2.93429 14.25 3.78395C14.25 4.04923 14.3191 4.29882 14.4408 4.51666Z" fill="#190207"/>
                                    </svg>

                                    <svg width="27" height="28" viewbox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4 13.8906C4 16.4102 5.00089 18.8265 6.78249 20.6081C8.56408 22.3897 10.9804 23.3906 13.5 23.3906C16.0196 23.3906 18.4359 22.3897 20.2175 20.6081C21.9991 18.8265 23 16.4102 23 13.8906" stroke="#190207" stroke-width="2" stroke-linecap="round"/>
                                        <path d="M13.5 16.2656V4.39062M13.5 4.39062L17.0625 7.95312M13.5 4.39062L9.9375 7.95312" stroke="#190207" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </div>
                            </div>
                        </div>
                    </nav>

                    <!--éditeur de texte tiny-->
                
                    <div class="editeur">
                        <form action="" method="post">
                        <textarea name="wikiditor" id="wikiditor"></textarea>
                        <input type="submit" value="submit">
                        </form>
                    </div>

                </article>
            </div>
        </div>
         
<script src="/assets/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script>
	tinymce.init({selector: '#wikiditor'});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>{% endblock %}
 