{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController   !
{% endblock %}

{% block stylesheets %}
    
    {% if error == '404' %}
        <link rel="stylesheet" href="/assets/css/style404.css">
    {% else %}
        <link rel="stylesheet" href="/assets/css/styleArticle.css">
    {% endif %}
{% endblock %}


{% block body %}
{% if error == '404' %}
<body>
  <div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-md-8 position-relative">
        <img src="/assets/img/img404.png" class="img-fluid" alt="Image page 404">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
          <div class="text-container">
            <h1 class="text-404">404</h1>
            <h2 class="text-404">Oups!</h2>
            <p>Page introuvable.</p>
            <a href="{{ path('app_home') }}" class="btn btn-primary custom-px-40" style="background-color: #1653FF; color: #FFFFFF; border: none; border-radius: 0.2rem; font-size: 1.3rem;">Retour à l'accueil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% else %}
 {# charge le contenu de l'article récupéré via l'api #}
    <div class="container-fluid">
        <div class="cutpage row">
	        <div class="widthpage col-5">
		        <article class="pagearticle mt-3">
			        <h1 id="title">
				        {{ title }}
			        </h1>
                    <div id="content">
                        {{ extract|raw }}
                    </div>
                    {# <ul>
                        {% for image in images %}
                            <li>
                                <div>
                                    <img  src="{{image['url']}}" alt="" height="200px">
                                </div>
                                <p>{{image['title']}}</p>
                            </li>
                        {% endfor %}
                    </ul> #}
                    <ul>
                        {% for link in links %}
                            <li>
                                <a href="{{link['url']}}">{{link['label']}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </article>
            </div>


	
            {# page de l'éditeur de texte #}
            <div class="widthpage col-5">
             <div class="pagewikiditor"> 
	            <article>
                 
                    <!--header de la page wikiditor editeur de texte-->
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <button type="button" class="btn-close" aria-label="Close"></button>
                            <div class="navbar-nav">
                                <a href="#"><img src="/assets/img/logowiki.png" alt="logowiki"></a>
                            </div>
                        </div>
                    </nav>

                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"></a>

                            <div class="navbar-nav">
                                <button class="btn btn-primary">
                                 <a href="{{ path('app_file_list') }}" target="_blank" class= "text-white">
                                    <svg width="24" height="24" viewbox="0 0 16 21" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0.707031C1.46957 0.707031 0.960859 0.917745 0.585786 1.29282C0.210714 1.66789 0 2.1766 0 2.70703V18.707C0 19.2375 0.210714 19.7462 0.585786 20.1212C0.960859 20.4963 1.46957 20.707 2 20.707H14C14.5304 20.707 15.0391 20.4963 15.4142 20.1212C15.7893 19.7462 16 19.2375 16 18.707V5.12103C15.9999 4.59064 15.7891 4.08202 15.414 3.70703L13 1.29303C12.625 0.917932 12.1164 0.707145 11.586 0.707031H2ZM2 2.70703H11.586L14 5.12103V18.707H2V2.70703ZM12.238 9.50003C12.3335 9.40778 12.4097 9.29744 12.4621 9.17544C12.5145 9.05343 12.5421 8.92221 12.5433 8.78943C12.5444 8.65665 12.5191 8.52497 12.4688 8.40208C12.4185 8.27918 12.3443 8.16753 12.2504 8.07364C12.1565 7.97974 12.0449 7.90549 11.922 7.85521C11.7991 7.80493 11.6674 7.77963 11.5346 7.78078C11.4018 7.78193 11.2706 7.80952 11.1486 7.86193C11.0266 7.91434 10.9162 7.99052 10.824 8.08603L6.582 12.328L5.167 10.914C4.9784 10.7319 4.7258 10.6311 4.4636 10.6334C4.2014 10.6356 3.95059 10.7408 3.76518 10.9262C3.57977 11.1116 3.4746 11.3624 3.47233 11.6246C3.47005 11.8868 3.57084 12.1394 3.753 12.328L5.803 14.379C5.90515 14.4812 6.02644 14.5623 6.15993 14.6176C6.29342 14.6729 6.4365 14.7014 6.581 14.7014C6.7255 14.7014 6.86858 14.6729 7.00207 14.6176C7.13556 14.5623 7.25685 14.4812 7.359 14.379L12.238 9.50003Z" fill="white"/>
                                    </svg>
                                    <span>Projets</span>
                                </a>
                                </button> 

                            </div>
                        </div>
                    </nav>

                    <!--éditeur de texte tiny-->
              
                    <div id="wikiditor" class="editeur">
                        {{ form_start(form) }}
                        <div class="row mt-2 mb-2">
                            <div class="col-2 text-center pt-2">
                                Titre
                            </div>
                            <div class="col-10">
                                {{ form_widget(form.title) }}
                            </div>
                        </div>
                        {{ form_widget(form.content) }}
                        {{ form_row(form.submit) }}
                        {{ form_end(form) }}
                    </div>

                </article>
                </div>
            </div>
        </div>
     </div>    
    
<script src="/assets/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script src="/assets/js/fr_FR.js"></script>
<script>
document.addEventListener('DOMContentLoaded', (e) => {
    tinymce.init({selector: '#wikiditor #file_content',
    language: 'fr_FR',
    resize: 'both'});
    tiny.triggerSave();
});

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
{% endif %}
{% endblock %}

    {# ajout de plugins tinymce

	tinymce.init({selector: '#wikiditor #file_content',
    width: '100%',
    resize: 'both',
    plugins: 'autosave emoticons autolink help wordcount searchreplace visualblocks directionality fullscreen quickbars',
    toolbar: 'restoredraft | emoticons | link | wordcount | searchreplace | visualblocks | ltr rtl | fullscreen | help',
    language: 'fr_FR'
    
    }); #}